.logo-slider {
  width: 100%;
   padding: 45px 0 65px;
  background: linear-gradient(180deg, #eef4ff 0%, #f7faff 100%);
  overflow: hidden;
  position: relative;
  z-index: 5;
  margin-top: -10px;
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-bottom: 32px;
}

.logo-title span {
  width: 80px;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2563eb);
}

.logo-title span:last-child {
  background: linear-gradient(90deg, #2563eb, transparent);
}

.logo-title h3 {
  margin: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 5px;
}

.logo-slider-wrap {
  width: 100%;
  overflow: hidden;
}

.logo-track {
  display: flex;
  align-items: center;
  gap: 26px;
  width: max-content;
  animation: infiniteScroll 38s linear infinite;
}

.logo-card {
  width: 150px;
  height: 78px;
  flex: 0 0 150px;

  background: #ffffff;
  border: 1px solid #e5edf7;
  border-radius: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #07111f;
  font-size: 25px;
  font-weight: 900;

  box-shadow: 0 10px 30px rgba(15, 23, 42, 0.04);
  transition: 0.3s ease;
}

.logo-card:hover {
  transform: translateY(-5px);
  color: #2563eb;
  border-color: #c7d8f7;
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}